body{
background-color: black;
position: absolute;
}


div h1.title{
color: rgba(255, 248, 220, 1);
font-size: 60px;
position: relative;
padding: 10px;
top: 0px;

}

div p.paragraph{
    color: rgba(255, 248, 220, 0.5);
    font-size: 30px;
    position: absolute;
    padding-left: 40px;
    display: flex;
    max-width: 40%;
    margin: 0px;
    
}
div p.social{
    color: rgba(255, 248, 220, 0.5);
    font-size: 30px;
    position: absolute;
    left: 60%;
    display: flex;
    margin: 0px;
    
}
div a.insta{
    color: rgba(148, 0, 211, 01);
    font-size: 30px;
    position: relative;
    left: 83%;
    display: flex;
    margin: 0px;
    padding-bottom: 30px;
    text-decoration: none;
    top: 20rem;
    text-align: center;
}
div a.github{
    color: rgba(148, 0, 211, 01);
    font-size: 30px;
    position: relative;
    left: 85%;
    top: -5rem;
    display: flex;
    margin: 0px;
    padding-bottom: 30px;
    text-decoration: none;
    
}

div.fiverr-seller-widget{
    position: relative;
    left: 80%;
    padding: 10px;
    margin: 0px;
    top: -8rem;
}

